<% #todo hot_topic %>
<% cache(["week_hot_topic",Time.now.strftime("%G-W%V")]) do %>
<div class="totals box">
  <h2 class="title"><%= t("common.statics")%></h2>
  <ul>
    <li>topic_1</li>
    <li>topic_1</li>
    <li>topic_1</li>
  </ul>
</div>
<% end %>